DATANEXUS_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/datanexus
DATANEXUS_SECRET_KEY=change-me-in-production
DATANEXUS_AES_KEY=change-me-16bytes-key
DATANEXUS_DEBUG=true
DATANEXUS_MAX_QUERY_ROWS=1000
# Oracle 11g需要单独配置client目录
#DATANEXUS_ORACLE_CLIENT_DIR=D:\Downloads\instantclient_11_2